/**app.wxss**/
@import "./assets/css/iconfont.wxss";
@import "miniprogram_npm/@vant/weapp/common/index.wxss";

page {
  --theme: #f27a1a;

  /* 定制vant全局主题样式 */
  --button-primary-background-color: var(--theme);
  --button-primary-border-color: var(--theme);
  --checkbox-checked-icon-color: var(--theme);
  --radio-checked-icon-color: var(--theme);
  --switch-on-background-color: var(--theme);
  --sidebar-selected-text-color: var(--theme);
  --sidebar-selected-border-color: var(--theme);
  --info-dot-color: var(--theme);
  --info-background-color: var(--theme);
  --dialog-border-radius: 16px;
  --stepper-button-icon-color: var(--theme);

  /* 全局样式 */
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Segoe UI, Arial, Roboto, "PingFang SC",
    "miui", "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  background-color: #f4f4f4;
  outline: 0;
  box-sizing: border-box;
  color: var(--text);
}

#van-dialog .van-hairline--right + .van-dialog__button .van-button__text {
  color: var(--theme);
}

view {
  color: white;
  outline: 0;
  box-sizing: border-box;
}

dd,
dl,
dt,
html,
li,
ul {
  padding: 0;
  margin: 0;
}
/* 重置列表元素 */
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}

.global-tab-view {
  margin-bottom: 100rpx;
}
