/* pages/main/login/index.wxss */

.wrapper {
  width: 100%;
  height: 100vh;
  /* background: url(../../assets/image/bg.png) no-repeat 100% / cover; */
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.logo {
  width: 250rpx;
  max-height: 80rpx;
  margin-bottom: 30rpx;
}

.login {
  /* width: 630rpx; */
  max-height: 750rpx;
  border-radius: 10rpx;
  background-color: #ffffff;
  margin-top: 50rrpx;
  padding: 40rpx 40rpx 30rpx;
  border-radius: 20rpx;
}

.type {
  font-size: 26rpx;
  color: #666666;
  display: flex;
  width: 500rpx;
  height: 32.5rpx;
  line-height: 65rpx;
  vertical-align: middle;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20rpx;
}

.wx-wrapper {
  width: 100%;
  font-size: 20rpx;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active-type {
  font-size: 30rpx;
  color: #333333;
}

.register {
  float: right;
  font-size: 24rpx;
  color: #666666;
  padding-right: 20rpx;
}

.cut-off {
  width: 1rpx;
  height: 16rpx;
  background-color: #e0e0e0;
  vertical-align: middle;
}

.other {
  color: var(--theme);
}

.base {
  margin-top: 40rpx;
  font-size: 26rpx;
}

.login-button {
  width: 500rpx;
  height: 60rpx;
  border-radius: 1rpx;
  margin: 36rpx auto;
  display: block;
  font-size: 24rpx;
}

.form {
  width: 100%;
}