<!--custom-tab-bar/index.wxml-->
<van-tabbar active="{{ active }}" active-color="#F27A1A" bind:change="onChange">
  <van-tabbar-item wx:for="{{list}}" wx:key="index" icon="{{item.icon}}">
    {{item.text}}
  </van-tabbar-item>
</van-tabbar>